
data_hub/world/*
data_hub/world_nether/*
data_hub/world_the_end/*
data_hub/bundler/*

data_creative/world/*
data_creative/world_nether/*
data_creative/world_the_end/*
data_creative/bundler/*

data_surv/world/*
data_surv/world_nether/*
data_surv/world_the_end/*
data_surv/bundler/*

data_sky/world/*
data_sky/world_nether/*
data_sky/world_the_end/*
data_sky/bundler/*

data_surv/Samoa/*
data_surv/Samoa_nether/*
data_surv/Samoa_the_end/*
data_surv/bundler/*

mods/

*/spigot_server-1.20.1.jar

*.log.gz
*.log
*.env
